<footer class="footer bg-body-tertiary text-center text-lg-start mt-auto py-3">
  <div class="container">
    <!--social icons-->
    <div class="d-flex justify-content-center gap-4 mb-3">
      <p>My socials:</p>
      <a href="#" class="social-icon text-primary"
        ><i class="fa-brands fa-facebook fa-1x"></i
      ></a>
      <a href="#" class="social-icon text-primary"
        ><i class="fa-brands fa-instagram fa-1x"></i
      ></a>
      <a href="#" class="social-icon text-primary"
        ><i class="fa-brands fa-linkedin-in fa-1x"></i
      ></a>
      <a href="#" class="social-icon text-primary"
        ><i class="fa-brands fa-tiktok fa-1x"></i
      ></a>
      <a href="#" class="social-icon text-primary"
        ><i class="fa-brands fa-pinterest fa-1x"></i
      ></a>
    </div>

    <!--newsletter-->
    <div class="newsletter d-flex justify-content-center gap-2 mb-3 flex-wrap">
      <label for="newsletter-subscribe" class="mb-0"
        >Sign up for my Newsletter:</label
      >
      <input
        type="email"
        name="newsletter-subscribe"
        id="newsletter-subscribe"
        placeholder="john.doe@gmail.com"
      />
      <button class="btn btn-subscribe btn-sm">Subscribe</button>
    </div>
    <!-- Copyright -->
    <p class="copyright mb-0 text-center">© 2025 Photography Müller</p>
  </div>
</footer>
